h4 {
  border-bottom: 2px solid white;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.strength__span {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
