<div class="strengths__container">
  <h4>STRENGTHS</h4>
  <ul class="no-bullets">
    <li>
      <span class="strength__span">
        <i class="fa-solid fa-people-group"></i>Team player, able to work well
        in a team and enjoy when others succeed
      </span>
    </li>
    <li>
      <span class="strength__span"
        ><i class="fa-solid fa-dice"></i>Adaptability, able to quickly adjust to
        business needs</span
      >
    </li>
    <li>
      <span class="strength__span"
        ><i class="fa-solid fa-palette"></i>Passion for learning and delivering
        quality</span
      >
    </li>
    <li>
      <span class="strength__span"
        ><i class="fa-solid fa-chess"></i>Strong problem-solving and analytical
        skills</span
      >
    </li>
    <li>
      <span class="strength__span"
        ><i class="fa-solid fa-code"></i>Proficiency in multiple programming
        languages</span
      >
    </li>
  </ul>
</div>
