<div class="about-me__container">
  <h1>Michael Loder</h1>
  <h2>Full Stack Developer</h2>
  <section class="about-me__section">
    <div class="about-me__content">
      <i class="fa-solid fa-phone about-me__icon"></i> <span>07432082599</span>
    </div>
    <div class="about-me__content">
      <i class="fa-solid fa-envelope about-me__icon"></i>
      <span>mploder1337&#64;gmail.com</span>
    </div>
  </section>
  <section class="about-me__section">
    <div class="about-me__content">
      <i class="fa-solid fa-globe about-me__icon"></i>
      <span>https://mike-loder.co.uk</span>
    </div>
    <div class="about-me__content">
      <i class="fa-solid fa-location-pin about-me__icon"></i>
      <span>Bournemouth</span>
    </div>
  </section>
  @if (!vm.isPdf()) {
    <section>
      <div class="about-me__content">
        <i class="fa-solid fa-download"></i>
        <span (click)="onDownload()" class="about-me__download"
          >Download CV</span
        >
      </div>
    </section>
  }
</div>
