@use "../../../styles/mixins/util" as bp;

h1 {
  margin: 0;
}

h2 {
  color: rgb(13, 138, 149);
}

.about-me__icon {
  color: rgb(202, 202, 202);
}

.about-me__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-me__section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  @include bp.screen-down(md) {
    flex-direction: column;
  }
}

.about-me__content {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.about-me__download {
  cursor: pointer;
  color: rgb(13, 138, 149);
}
