<div class="achievements__container">
  <h3 class="achievements__title">ACHIEVEMENTS</h3>
  <div class="achievements__content__item">
    <div class="achievements__content__item__title">
      <i class="fa-solid fa-building-columns"></i>
      <h4>ELECTRONICS & COMPUTER TECH</h4>
    </div>
    <p>
      In 2014, I completed an FD-Eng in Electronics and Computer Technology. I
      finished the course with a distinction by building a functional Arduino
      board with an LCD display that could receive messages over the internet
      via an Android application. <br />
      I wrote both the Android application and the C++ code for the Arduino
      logic.
    </p>
  </div>
  <div class="achievements__content__item">
    <div class="achievements__content__item__title">
      <i class="fa-solid fa-computer"></i>
      <h4>SITECORE CERTIFIED</h4>
    </div>
    <p>
      During my employment at Vitality I completed a Sitecore certification
      course.
    </p>
  </div>
  <div class="achievements__content__item">
    <div class="achievements__content__item__title">
      <i class="fa-solid fa-hand-fist"></i>
      <h4>K1 & MUAY THAI</h4>
    </div>
    <p>
      I began training K1 and Muay Thai in 2022. As a developer, I initially
      found social interactions and group settings to be quite challenging. This
      training has significantly enhanced my confidence and has helped me
      embrace opportunities to meet and collaborate with new people.
    </p>
  </div>
  <div class="achievements__content__item">
    <div class="achievements__content__item__title">
      <i class="fa-solid fa-gamepad"></i>
      <h4>GTA5 RP - FiveM Development</h4>
    </div>
    <p>
      One of my hobbies is gaming and back in 2019 I started playing GTA 5. I
      heard about FiveM which is a wrapper around GTA 5, and decided to give it
      a try. <br />
      <br />I joined a community and wanted to get involved with running the
      server, I joined as a developer at the start and used my skills as a
      developer to help improve the server for players. My skills and knowledge
      allowed me to quickly rise the ranks and eventually become an owner.
    </p>
  </div>
</div>
